footer, .recent .post {
  background-color: hsl(222, 44%, 13%);
  border: 1px solid hsl(216, 33%, 20%);
  border-radius: 6px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(222, 47%, 11%);
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(199, 89%, 49%);
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: hsl(222, 47%, 11%);
}

a {
  text-decoration: none;
}

.main-btn {
  background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  background-position: left;
  background-size: 200%;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 15px;
  transition: 0.25s ease;
}
.main-btn:hover {
  background-position: right;
  font-size: 15px;
  border: none;
  color: #fff;
  letter-spacing: 0.5px;
}

.btn:focus-visible {
  color: #fff;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #fff;
}

.main-title h2 {
  color: transparent;
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 33px;
  text-transform: capitalize;
  position: relative;
}
.main-title h2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #0bd1d1;
  bottom: -10px;
  left: 0;
}
.main-title p {
  color: #d2d2d2;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  font-size: 15px;
  text-transform: capitalize;
}

@keyframes animated-land {
  0% {
    transform: translateY(40px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0.4turn);
  }
}
@keyframes fromTop {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(0.3);
  }
}
@keyframes loaded {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}
.toggle {
  font-size: 27px;
  cursor: pointer;
  color: hsl(199, 69%, 84%);
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 55vw 0 0 0 hsl(222, 47%, 11%), inset -55vw 0 0 0 hsl(222, 47%, 11%);
  display: grid;
  place-items: center;
  z-index: 20;
}
.preload.loaded {
  pointer-events: none;
  box-shadow: inset 0 0 0 0 hsl(222, 47%, 11%), inset 0 0 0 0 hsl(222, 47%, 11%);
  transition: 0.25s ease;
}
.preload.loaded .line {
  animation: loaded 500ms ease forwards;
}
.preload .line {
  width: 1px;
  height: 100%;
  background-color: hsl(216, 33%, 20%);
  transition: 0.25s ease;
  animation: loading 1000ms linear forwards;
}

.scroller {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  z-index: 15;
  transition: 0.25s ease;
}

.sidebar {
  position: fixed;
  right: -100%;
  transition: 0.3s ease-in-out;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar.show {
  right: 0;
}
.sidebar .content {
  width: 250px;
  background-color: hsl(222, 47%, 11%);
  border: 1px solid hsl(216, 33%, 20%);
  height: 100vh;
  min-height: 100vh;
  padding: 15px;
  position: absolute;
  right: 0;
}
.sidebar .content .head {
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(216, 33%, 20%);
}
.sidebar .content .head h2 {
  font-size: 22px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  -webkit-background-clip: text;
          background-clip: text;
}
.sidebar .content .head i {
  font-size: 20px;
  color: hsl(216, 33%, 68%);
  cursor: pointer;
  font-weight: bold;
}
.sidebar .content .links {
  border-bottom: 1px solid hsl(216, 33%, 20%);
  padding-bottom: 10px;
}
.sidebar .content .links li a {
  color: hsl(199, 69%, 84%);
  display: block;
  margin-bottom: 5px;
  padding: 10px 0;
  transition: 0.25s ease;
}
.sidebar .content .links li a:hover {
  transform: translateX(5px);
  color: hsl(216, 33%, 68%);
}
.sidebar .content .info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sidebar .content .info .text h2 {
  color: hsl(199, 69%, 84%);
  font-size: 19px;
  margin-bottom: 0;
}
.sidebar .content .info .text h2 span {
  color: transparent;
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  font-weight: bold;
  font-size: 19px;
  -webkit-background-clip: text;
          background-clip: text;
}
.sidebar .content .info .text span {
  font-size: 13px;
  color: hsl(216, 33%, 68%);
}
.sidebar .deign {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: hsl(216, 33%, 68%);
  padding-top: 15px;
  border-top: 1px solid hsl(216, 33%, 20%);
}
.sidebar .deign span {
  color: hsl(199, 69%, 84%);
}

.navbar.nav-top {
  transition: 0.25s ease;
  animation: fromTop 1s linear forwards;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: hsl(216, 33%, 20%);
}
.navbar .header-area {
  min-height: 72px;
}
.navbar .header-area .logo {
  text-decoration: none;
}
.navbar .header-area .logo img {
  width: 50px;
}
.navbar .header-area .logo span {
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 29px;
  display: block;
  font-variant: small-caps;
  transition: 0.25s ease;
}
.navbar .header-area .navLinks .item a {
  color: hsl(216, 33%, 68%);
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  transition: 0.25s ease;
}
.navbar .header-area .navLinks .item a:hover, .navbar .header-area .navLinks .item a.active {
  color: hsl(199, 89%, 49%);
}

.landing {
  min-height: calc(100vh - 88px);
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 992px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text > span {
  color: hsl(216, 33%, 68%);
  font-size: 15px;
  margin-bottom: 20px;
  display: block;
}
.landing .text h1 {
  font-size: 45px;
  font-weight: bold;
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 20px;
}
.landing .text h1 span {
  color: hsl(216, 100%, 95%);
  display: inline-block;
}
@media (min-width: 0px) and (max-width: 767px) {
  .landing .text h1 {
    font-size: 40px;
  }
}
.landing .text p {
  color: hsl(217, 24%, 59%);
  line-height: 2;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.landing .info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: hsl(216, 33%, 20%);
  border: 1px solid hsl(199, 89%, 49%);
  border-radius: 4px;
  gap: 10px;
  transition: 0.25s ease;
}
.landing .info:hover, .landing .info:focus {
  box-shadow: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
}
.landing .info button {
  flex: 1;
}
.landing .info input {
  flex-basis: 80%;
  background-color: transparent;
  padding: 7px 15px;
  border: none;
  outline: none;
  font-size: 15px;
  color: hsl(216, 33%, 68%);
  caret-color: hsl(199, 89%, 49%);
}
@media (min-width: 993px) {
  .landing .image {
    top: 20px;
  }
}
.landing .shadow-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
@media (max-width: 992px) {
  .landing .shadow-img {
    width: 100%;
  }
}
.landing .shadow-img2 {
  position: absolute;
  bottom: -200px;
  left: -20px;
  z-index: -1;
}
@media (max-width: 992px) {
  .landing .shadow-img2 {
    width: 100%;
  }
}
.landing .pattren {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 1;
  animation: animated-land 3s linear alternate infinite;
}
.landing .circle {
  position: absolute;
  bottom: 0;
  left: 20px;
  animation: animated-land 3s linear alternate infinite;
}

.topic .content {
  background-color: hsl(222, 44%, 13%);
  border: 1px solid hsl(216, 33%, 20%);
  padding: 25px;
  position: relative;
}
@media (min-width: 993px) {
  .topic .content {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 20px;
    align-items: center;
  }
}
.topic .content .left .text h2 {
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}
.topic .content .left .text p {
  color: #d2d2d2;
  font-size: 15px;
  line-height: 1.8;
  max-width: 350px;
}
.topic .content .left .arrows i {
  color: #fff;
  font-size: 27px;
  cursor: pointer;
  opacity: 0.7;
  margin-right: 10px;
  transition: 0.25s ease;
}
.topic .content .left .arrows i:hover {
  opacity: 1;
}
.topic .content .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.topic .content .right.no-trans {
  scroll-behavior: auto;
}
.topic .content .right::-webkit-scrollbar {
  display: none;
}
.topic .content .right.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}
.topic .content .right.dragging .box {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.topic .content .right .box {
  position: relative;
  scroll-snap-type: start;
  min-width: calc(33.3333333333% - 12px);
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 992px) {
  .topic .content .right .box {
    min-width: calc(50% - 9px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .topic .content .right .box {
    min-width: 100%;
  }
}
.topic .content .right .box::before {
  content: "";
  background: linear-gradient(0deg, #000d1a, transparent);
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  bottom: 0;
}
.topic .content .right .box:hover .text h2 {
  color: hsl(199, 89%, 49%);
}
.topic .content .right .box img {
  width: 100%;
}
.topic .content .right .box .text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 15px;
}
.topic .content .right .box .text h2 {
  color: hsl(199, 69%, 84%);
  font-size: 17px;
  font-weight: bold;
  transition: 0.25s ease;
  margin-bottom: 0;
}
.topic .content .right .box .text span {
  color: hsl(216, 33%, 68%);
  font-size: 12px;
}

.feature .box {
  padding: 15px;
  background: hsl(222, 44%, 13%);
  border-radius: 6px;
  border: 1px solid hsl(216, 33%, 20%);
  cursor: pointer;
}
.feature .box img {
  width: 100%;
  margin-bottom: 15px;
}
.feature .box .head .hastag span {
  color: hsl(216, 33%, 68%);
  font-size: 15px;
  text-transform: capitalize;
  transition: 0.25s ease;
  cursor: pointer;
}
.feature .box .head .hastag span:hover {
  color: hsl(199, 89%, 49%);
}
.feature .box .head .time {
  color: hsl(217, 24%, 59%);
  font-size: 14px;
}
.feature .box h2 {
  margin: 15px 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 25px;
  color: hsl(199, 69%, 84%);
  transition: 0.25s ease;
}
.feature .box h2:hover {
  color: hsl(199, 89%, 49%);
}
.feature .box .title img {
  width: 55px;
  margin-bottom: 0;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: 7px;
}
.feature .box .title h2 {
  margin-bottom: 0;
  font-size: 20px;
}
.feature .box .title span {
  color: hsl(216, 33%, 68%);
  font-size: 15px;
}
.feature .shadow-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  z-index: 99;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}
.lightbox.show {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}
.lightbox .content {
  background: hsl(222, 44%, 13%);
  width: 80%;
  height: 80%;
  padding: 15px;
  border-radius: 6px;
  position: relative;
}
.lightbox .content .close {
  position: absolute;
  right: -30px;
  top: -20px;
  width: 40px;
  height: 40px;
  background-color: #f05;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.lightbox .content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular .shadow-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.popular .shadow-center {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  justify-content: bet;
  height: 100%;
}
.popular .content {
  background-color: hsl(222, 44%, 13%);
  padding: 15px;
  border: 1px solid hsl(216, 33%, 20%);
  border-radius: 6px;
}
.popular .content .item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.popular .content .box h2 {
  color: hsl(216, 33%, 68%);
  font-size: 18px;
  margin-bottom: 0;
}

.recent .recent-srv .box img {
  border-radius: 30px;
}
.recent .recent-srv .box .text button {
  background-color: hsl(216, 33%, 20%);
  color: #fff;
  width: 150px;
  border: 1px solid hsl(216, 33%, 20%);
  padding: 5px;
  border-radius: 6px;
  transition: 0.25s ease;
}
.recent .recent-srv .box .text button:hover {
  background-color: hsl(199, 89%, 49%);
  transform: translateY(-5px);
}
.recent .recent-srv .box .text h2 {
  color: hsl(199, 69%, 84%);
  transition: 0.25s ease;
  margin: 20px 0;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.recent .recent-srv .box .text h2:hover {
  color: hsl(199, 89%, 49%);
}
.recent .recent-srv .box .text p {
  color: hsl(216, 33%, 68%);
  font-size: 13px;
  line-height: 1.7;
}
.recent .recent-srv .box .hashtag > span {
  color: hsl(216, 33%, 68%);
  transition: 0.25s ease;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  display: inline-block;
}
.recent .recent-srv .box .hashtag > span:hover {
  color: hsl(199, 89%, 49%);
}
.recent .recent-srv .box .time {
  font-size: 14px;
  color: hsl(216, 33%, 68%);
}
.recent .post {
  padding: 15px;
}
.recent .post .main-title h2 {
  font-size: 20px;
}
.recent .post .items img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.recent .post .items .text {
  border-bottom: 1px solid hsl(216, 33%, 20%);
  padding-bottom: 15px;
}
.recent .post .items .text.last {
  border-bottom: none;
}
.recent .post .items .text h2 {
  font-size: 16px;
  max-width: 350px;
  font-weight: 500;
  color: hsl(199, 69%, 84%);
  line-height: 1.6;
  transition: 0.25s ease;
  cursor: pointer;
}
.recent .post .items .text h2:hover {
  color: hsl(199, 89%, 49%);
}
.recent .post .items .text .read span {
  color: hsl(216, 33%, 68%);
  font-size: 13px;
}
.recent .post .com-srv {
  border-bottom: 1px solid hsl(216, 33%, 20%);
  padding-bottom: 15px;
}
.recent .post .com-srv.last {
  border-bottom: none;
  padding-bottom: 0;
}
.recent .post .com-srv p {
  font-size: 15px;
  color: hsl(216, 33%, 68%);
  margin-bottom: 10px;
  line-height: 1.8;
}
.recent .post .com-srv .info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.recent .post .com-srv .info h2 {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0;
  color: hsl(216, 33%, 68%);
}
.recent .post .title h2 {
  font-size: 27px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 5px;
}
.recent .post .title p {
  font-size: 15px;
  font-weight: 500;
  color: hsl(216, 33%, 68%);
  text-transform: capitalize;
}
.recent .post .images img {
  width: 29%;
  border-radius: 6px;
}

footer {
  border-radius: 0;
  padding: 15px;
}
footer h2 {
  margin-bottom: 0;
  color: hsl(216, 33%, 68%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 17px;
  font-weight: bold;
}
footer h2 span {
  background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 20px;
}
footer .socials .social {
  cursor: pointer;
  transition: 0.25s ease;
}
footer .socials .social:hover {
  transform: translateY(-5px);
}
footer .socials .social i {
  font-size: 17px;
  color: hsl(199, 69%, 84%);
}
footer .socials .social span {
  color: hsl(216, 33%, 68%);
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
}/*# sourceMappingURL=style.css.map */
