$text-gradient: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
$btn-gradient: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
$trans: 0.25s ease;
$textColor : hsla(216, 33%, 68%, 1);
$textHoverColor: hsla(199, 89%, 49%, 1);
$paragraphColor: hsla(217, 24%, 59%, 1);
$boxShadow: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
$headColor: hsl(199, 69%, 84%);
$bgSection: hsla(222, 44%, 13%, 1);
$overlayColor: linear-gradient(0deg, #000d1a, transparent);